<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shdatalink.mapper.ContractMapper">


    <select id="queryPage" resultType="com.shdatalink.entity.Contract">
        select c.id
        from t_contract c
                 inner join t_contract_extend e on c.id = e.id
    </select>
</mapper>
